
    body{
        font-family: 'Quicksand', sans-serif;
        color: black;
        font-size: 17px;
      }
      h1{
        font-size: 40px;
        padding-top: 20px;
        
      }
      
      .container{
        width: 80%;
        margin: auto;
        background-color: gold;
       
      }
      
      