h1 {
    color: blue;
    font-weight: bold;
    font-family: fantasy;
    text-align: center;
}

p {text-align:center;
    color: aquamarine;
}

div {
    color: blue;
    font-weight: bold;
    font-family: fantasy;
    text-align: center;
}